<div class='all-container'>
  <div class='single-container' >
    <h3>Job Title: <%= @job.title %></h3>
    <p>Description: <%= @job.description %></p>
    <p>Level of Interest: <%= @job.level_of_interest %></p>
    <p>City: <%= @job.city %></p>
    <% if @job.category %>
      <p>Category: <%= link_to @job.category.title.titleize, category_path(@job.category) %></p>
    <% end %>
    <p>Company: <%= link_to @job.company.name, company_jobs_path(@job.company) %></p>
    <%= link_to "Edit", edit_company_job_path(@job.company, @job) %>
    <%= link_to "Delete", company_job_path(@job.company, @job), method: "delete" %>

  </div>
<div class='single-container' >
  <p>
    Comments:
    <br>
    <% @job.comments.reverse_each do |comment| %>
      <p><%= comment.content %></p>
    <% end %>
  </p>
</div>

<div class='single-container' >
  <%= form_for [@job, @comment] do |f| %>
    <p>
      <%= f.label :content, "New Comment" %><br/>
      <%= f.text_area :content %>
    </p>
    <p><%= f.submit "Add Comment"%></p>
  <% end %>
</div>

</div>


