Title: <%= @job.title %>
<br>

Description: <%= @job.description %>
<br>

Level of Interest: <%= @job.level_of_interest %>
<br>

City: <%= @job.city %>
<br>

Company: <%= link_to @job.company.name, company_path(@job.company) %>
<p>
Comments:
<br>
<% @job.comments.each do |comment| %>
  <%= comment.content %>
<% end %>
</p>

<%= form_for [@job, @comment] do |f| %>
  <p>
  <%= f.label :content, "New Comment" %><br/>
  <%= f.text_area :content %>
  </p>
  <p><%= f.submit "Add Comment"%></p>
<% end %>



