Title: <%= @job.title %>
<br>

Description: <%= @job.description %>
<br>

Level of Interest: <%= @job.level_of_interest %>
<br>

City: <%= @job.city %>
<br>

Company: <%= link_to @job.company.name, company_jobs_path(@job.company) %>
<p>
  Comments:
  <br>
  <% @job.comments.reverse_each do |comment| %>
    <p><%= comment.content %></p>
  <% end %>
</p>

<%= form_for [@job, @comment] do |f| %>
  <p>
    <%= f.label :content, "New Comment" %><br/>
    <%= f.text_area :content %>
  </p>
  <p><%= f.submit "Add Comment"%></p>
<% end %>



