<h3>All Companies</h3><br>
<h3><%= link_to "New Company", new_company_path %></h3>

<div class='all-container'>

    <% @companies.each do |company| %>
    <div class='single-container'>
      <div class=company_<%= company.id %>>
        <H3>Company: <%= link_to company.name, company_jobs_path(company) %></H3>
        <p><%= link_to "Edit", edit_company_path(company) %></p>
        <p><%= link_to "Delete", company_path(company), method: "delete" %></p>
      </div>
    </div>
    <% end %>

</div>
